.stories {
  display: flex;
  align-items: center;
  height: 118px;
  border-radius: 3px;
  border: 1px solid #DBDBDB;
  padding: 0 18px;
  overflow: hidden;
  position: relative;
}

.story {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 14px 0;
    font-size: 12px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .story .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 66px;
    background-image: url('imagem/story-circle.svg');
    
  }
  
  .story .imagem img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
  
  .story .usuario {
    width: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    height: 14px;
  }
  
 .setinha {
    position: absolute;
    right: 10px;
    top: 45px;
    height: 32px;
    width: 32px;
    color: #FFF;
    font-size: 28px;
    cursor: pointer;
  }
   