header,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
header {
  height: 54px;
  width: 100%;
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  position: fixed;
  top: 0;
  z-index: 3;
}
header .container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 935px;
  
}

header .container .begin-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1px 4px;
  height: 40px;
  
}

header .container .begin-menu img {
  width: 103px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

header .container .input-search {
  display: none;
}

header .container .begin-menu .coluna {
  display: none;
}

header .container .icones-menu {
  display: none;
}

header .container .img-instagram svg,.icones-menu svg{
  width: 22px;
  height: 22px;
  color:#262626;
  font-weight: 400;
  cursor: pointer;

}
@media (min-width: 613px) {

  header .container .begin-menu {
    align-items: center;
    justify-content: flex-start;
    height: auto;
    width: auto;
  }

  header .container .begin-menu .coluna {
    display: flex;
    width: 1px;
    height: 23px;
    margin-left: 11.38px;
    margin-right: 10px;
    margin-top:-5px;
    background-color: #dbdbdb;
  }
  header .container .begin-menu img{
    height:29px;
    width: 103px;
  }

  header .container .begin-menu .img-paper {
    display: none;
  }

  header .container .input-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 215px;
    height: 28px;
    background: #fafafa;
    border: 1px solid var(--border);
    border-radius: 3px;
  
  }
  input{
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #979797;
  }

  header .container .icones-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }

  header .container .icones-menu div {
    margin-left: 10px;
   
  }
}
