
.post {
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
  }
  
  .post .topo {
    display: flex;
    justify-content: space-between;
    padding: 13px 16px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .post .topo .usuario, .post .topo .acoes {
    display: flex;
    align-items: center;
  }
  
  .post .topo img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  
  .post .usuario, .post .topo img, .post .fundo img, .post ion-icon, .post strong {
    cursor: pointer;
  }
  
  .post .conteudo img {
    width: 100%;
  }
  
  .post .fundo .acoes {
    display: flex;
    justify-content: space-between;
    padding: 13px 16px;
    font-size: 24px;
  }
  
  .post .fundo .acoes .icons  {
    margin-right: 6px;
    width: 88.18px;
    display: flex;
    justify-content: space-between;
   
  }
  
  .post .fundo .curtidas {
    display: flex;
    align-items: center;
    padding: 0 16px 13px;
    font-weight: 300;
  }
  
  .post .fundo .curtidas img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .post:last-child {
    margin-bottom: 18px;
  }