main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;/*alterar para 100%*/
  margin-top: 54px;

}

section {
    max-width: 614px;
    width: 100%;
    height: 100vh;
  

}

aside {
  display: none;
}

@media (min-width: 613px) {
main{  
    justify-content: space-between;
    width: 935px;
    margin: 88px auto 0 auto;
  }
}

 


@media (min-width: 934px) {

  aside {
    display: flex;
    padding-top: 24px;
    position: sticky;
    top: 88px;
    width: 293px;
    height: 100vh;
  }

} 