footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  height: 54px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer .icons svg{
  width: 22px;
  height: 22px;
}
@media (min-width: 613px) {
  footer{
    display: none;
  }
}
