@media (min-width: 934px) {
    .sidebar {
        
        position: sticky;
        top: 88px;
      }
      
      .sidebar > .usuario {
        display: flex;
        align-items: center;
      }
      
      .sidebar > .usuario img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }
      
      .sidebar > .usuario .texto {
        display: flex;
        flex-direction: column;
        margin-left: 14px;
        font-weight: 300;
        color:var(--segundary)
      }
      
      .sidebar > .usuario .texto {
        color: var(--primary);
      }
      
      .sidebar .sugestoes .titulo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 14px;
        color:var(--primary);
        font-family: 'Roboto',sans-serif;
        font-weight:400;
        font-size: 14px;
        line-height:14px;
      }
      
      .sidebar .sugestoes .sugestao {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        height: 31px;
        margin-bottom: 16px;
      }
      
      .sidebar .sugestoes .sugestao .usuario {
        display: flex;
      }
      
      .sidebar .sugestoes img {
        width: 32px;
        height: 32px;
      }
      
      .sidebar .sugestoes .seguir {
        color: #139EF2;
        font-weight: 600;
      }
      
      .sidebar .sugestoes .sugestao .usuario .texto {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .sidebar .sugestoes .sugestao .usuario .texto :last-child {
        color: #8E8E8E;
        font-weight: 400;
      }
      
      .links, .copyright {
        font-size: 11px;
        color: #C7C7C7;
      } 
      
      .links {
        margin-top: 40px;
        cursor: pointer;
      }
      
      .copyright {
        margin-top: 18px;
      }
      
      

}